/* fonts.css */

@font-face {
  font-family: "SF UI Display Bold";
  src: url("../fonts/sf-ui-display-bold-58646a511e3d9.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display Semi-Bold";
  src: url("../fonts/sf-ui-display-semibold-58646eddcae92.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Light";
  src: url("../fonts/sf-ui-display-light-58646b33e0551.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display Ultralight";
  src: url("../fonts/sf-ui-display-ultralight-58646b19bf205.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
